.availability-form-main{

  border: 1px solid red;
  margin: 10px;
}

.availability-form-title {
  font-size: 17px;

}

.availability-form-one-half{
  border: 1px solid red;
  height: 120px;
  margin: 5px;
}
