.navbar-main {
  /*border: 4px solid red;*/
  border-radius: 5px;
  margin: 0px;
  width: 216px;
  height: 100px;
  padding: 0px;
  display: inline-block;
  position: relative;
  float: left;
}

.navbar-option {

  border: 4px solid #D8BFD8;
  border-radius: 5px;
  position: relative;
  margin: 5px;
  text-align: center;
  height: 35px;

}

.navbar-option:hover {
  border: 4px solid green;
}

.navbar-current {
  border: 4px solid black;
  border-right: 5px solid white;
  width: 213px;
  z-index: 1;
  background-color: white;
}

.navbar-expanded {
  border: 4px solid black;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.navbar-tab-title {
  margin: auto;
  top: 7px;
  position: absolute;
  left: 35px;
  /* http://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.navbar-expand-button {
  position: absolute;
  right: 25px;
  top: -2px;
  font-size: 30px;
  color: #777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
