.calendar-view-main {
    padding-top: 20px
}

.calendar-view-time-selector-main {
    height: 250px;
    width: 100px;
    background-color: transparent;
    display: inline-block;
    position: relative;
}

.calendar-view-calendar-main {
    border-left: 2px solid #16174f;
    border-right: 2px solid #16174f;
    width: calc(100% - 104px);
    height: 250px;
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
/*     overflow: scroll; */
}

.calendar-view-time-selector-start-time-line {
    border-bottom: 2px solid #667467;
    background-color: transparent;
    position: absolute;
    width: 18px;
    left: 82px;
    height: 18px;
}

.calendar-view-time-selector-end-time-line {
border-bottom: 2px solid #667467;
    position: absolute;
    width: 18px;
    background-color: transparent;
    /* top: 230px; */
    left: 82px;
    height: 210px;
}

.calendar-view-time-selector-end-time {
    outline: none;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    color: #16174f;
    background-color: transparent;
    top: 197px;
}

.calendar-view-time-selector-start-time {
    outline: none;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    color: #16174f;
    background-color: transparent;
    top: 5px;
}

.calendar-single-date-main {
    border-right: 2px solid #16174f;
    width: 150px;
    height: calc(100% - 5px);
    display: inline-block;
}

.calendar-single-date-main:last-child {
    margin-right: -2px;
}

.calendar-single-date-inner {
    border-top: 2px solid #667467;    
    border-bottom: 2px solid #667467;
    height: 190px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
 
}

.calendar-single-date-date {
    text-align: center;
    /* font-weight: 700; */
    color: #667467;
    font-size: 14px;
}

.calendar-single-date-facility-labels-main {
    margin-left: 10px;
    margin-right: 10px;
    height: 21px;
}

.calendar-single-date-facility-label {
    height: 100%;
    text-align: center;
    display: inline-block;
    border-right: 2px solid #667467;
    color: #667467;
}

.calendar-single-date-facility-column-main {
    display: inline-block;
    height: 100%;
    position: relative;
}

.calendar-single-date-facility-label:last-child {
    border-right: 0;
}

.calendar-single-date-column-entry-overlay {
    position: absolute;
    width: 100%;
    border: 1px solid #f6f1ed;
    box-sizing: border-box;
    background-color: rgba(117, 179, 93, 0.2);
}

.calendar-single-date-column-entry-event {
    position: absolute;
    width: 100%;
    border: 1px solid #f6f1ed;
    box-sizing: border-box;
    background-color: rgba(161, 141, 67, 0.6);
}

.calendar-single-date-column-entry-event-hover {
    position: absolute;
    width: 100%;
    border: 1px solid #f6f1ed;
    box-sizing: border-box;
    background-color: rgba(134, 49, 158, 0.6);

}

.calendar-single-date-column-entry-event-focus {
    position: absolute;
    width: 100%;
    border: 1px solid #f6f1ed;
    box-sizing: border-box;
    background-color: rgba(49, 131, 158, 0.6);
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

.calendar-view-detail-section {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}