.content-main {
  border-left: 2px solid #300032;
  margin: 5px;
  display: inline-block;
  position: absolute;
  left: 217px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  overflow: scroll;
  background-color: #f6f1ed;
}

.show-main {
  border: 2px solid #ddd;
  margin: 10px;
  height: 42px;
  padding-left: 55px;
}

.show-header-detail {
  display: inline-block;
  top: 15px;
  font-size: 18px;
  margin-right: 20px;
  position: relative;
  width: 160px;
  /*border-right: 3px solid green;*/
}

.show-detail {
  border: 4px solid #777;
  margin: 10px;
  margin-top: -5px;
  /*height: 42px;*/
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  /*float: left;*/
  width: 100%;
  display: block;
  position: relative;
}

.show-basic-info {
  border: 4px solid #777;
  margin: 5px;
  float: left;
  width: 45%;
  position: relative;
  display: inline-block;
}

.info-stat {
  position: relative;

  font-size: 17px;
  border: 2px solid green;
}

.leagues-list {
  position: relative;
  display: inline-block;
  float: left;
  margin: 5px;
  width: 120px;
  height: 100px;
  border: 4px solid #777;
  overflow: scroll;
}


.add-to-menu {
  position: relative;
  display: inline-block;
  border: 1px solid green;
  width: 220px;
  margin: 5px;
}

.add-component-options-main{
  /*border: 1px solid blue;*/
  left: 30px;
  position: relative;
  top: -12px;
  width: 180px;
  height: 120px;
  overflow: scroll;
  margin-right: -100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.add-component-option {

/*border: 5px solid blue;*/
  position: relative;
  left: 5px;
  width: 160px;
  border: 1px solid white;
  box-sizing: border-box;

}

.selected-option {

  width: 150px;
  border: 1px solid green;
}

.delete-from-list-button {
  border: 1px solid green;
  display: inline-block;
  width: 25px;
  height: 15px;
  text-align: center;
}



.clear:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
