#header-main-id {
  border-bottom: 2px solid #16174f;
  height: 110px;
  margin: 2px;
  margin-bottom: -3px;
  margin-left: 20px;
  display: inline-block
}

#header-main-id.header-main {
  border-top: 2px solid #f6f1ed;
  -webkit-transition: margin-top 2s, border-top 2s, height 2s;
}

#header-main-id.header-main-logged-out {
  border-top: 2px solid #16174f;
  margin-top: 200px;
  -webkit-transition: margin-top 2s, border-top 2s, height 2s;
}

#header-component {
  width: 50%;
  height: 217px;
  background-color: transparent;
  position: absolute;
  -webkit-transition: -webkit-transform 2s;

}

#header-welcome-page {
  width: 50%;
  height: 217px;
  background-color: transparent;
  position: absolute;
  -webkit-transition: -webkit-transform 2s;
}

#header-component.on-screen {


}

#header-component.off-screen {
  -webkit-transform: translateY(220px);
}

#header-welcome-page.on-screen {


}

#header-welcome-page.off-screen {
  -webkit-transform: translateY(-260px);
}

.header-logo {
  width: 200px;
  position: relative;
  float: left;
}

.header-user {
  /* margin: 10px; */
  margin-top: -5px;
  margin-right: -5px;
  /* height: 215px; */
  width: 250px;
  border: 0;
  border-radius: 0px;
  position: relative;
  /* bottom: 0px; */
  float: right;
}

.header-center {
  margin: 0 auto;
  top: 10px;
  width: 200px;
  position: relative;
  text-align: center;
}

h1 {
  top: 25px;
  position: relative;
  text-align: center;
  background-color: transparent;
}
