#navbar-main {
  margin: 0px;
  width: 215px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  z-index: 1;
}

#navbar-main.navbar-main-shown {
  opacity: 1;
  transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
}

#navbar-main.navbar-main-hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
}

.logo-bar {
  width: 150px;
  height: 100px;
  position: relative;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-option {
  width: 180px;
  height: 40px;
}

#navbar-option-id {
  border: 2px solid #963019;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: -2px;
  margin-top: -2px;
    position: relative;
  left: 18px;
  width: 182px;

  background-color: transparent;
}

.navbar-tab-main {
/*   position: relative;
  left: 18px;
  width: 182px;

  background-color: transparent; */
/*   background-color: green; */
/*
  border: 2px solid #963019;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: -2px;
  margin-top: -2px; */
}

#navbar-option-id.navbar-tab-main-selected {
  border: 2px solid #16174f;
  border-left: 0px;
/*   width: 197px; */
  border-right: 2px solid #f6f1ed;

  z-index: 2;
  width: 204px;

  background-color: #f6f1ed;
  -webkit-transition: height 2s;
}

.navbar-expanded {
  margin-right: 10px;
  background-color: transparent;
  width: 180px;
  z-index: 0;
  position: relative;
}

.navbar-tab-title {
  margin: auto;
  top: 12px;
  position: absolute;
  left: 35px;
  font-size: 18px;
  /* http://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #963019;

}

.navbar-option:hover {
  font-weight: 700;
  cursor: pointer;
}

.navbar-tab-title-selected {
  font-weight: 900;
  color: #16174f;
}

.navbar-expand-button {
  position: absolute;
  right: 25px;
  top: -2px;
  font-size: 30px;
  color: #777;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.navbar-options-search-icon{
  position: relative;
  width: 22px;
  height: 20px;
  margin: 5px;
  margin-top: 10px;
  display: inline-block;
}

.text-entry-box{
  border: 0px;
  position: absolute;
  outline: none;
  font-size: 17px;
  text-align: right 2px;
  display: inline-block;
}

.navbar-options-search-box{
  position: relative;
/*   top: -12px; */
  /*margin: auto;*/
  bottom: -5px;
  background-color: transparent;
  width: 120px;
  font-size: 14px;
  font-weight: 700;
  color: #667467;
  z-index: 4;
  display: inline-block;
}

.navbar-options-clear-icon{
  position: relative;
  bottom: -7px;
  margin-left: 3px;
  left: 5px;
  width: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  z-index: 2;
  background-color: transparent;
  color: #667467;
  display: inline-block;
}

.navbar-options-clear-icon:hover{
  color: #16174f;
  cursor: pointer;

}

.navbar-options-search-bar{
  position: relative;
}

.navbar-options-new-button:hover{
  background-color: #eee;
  cursor: pointer;

}

.navbar-options-element {
  border-top: 2px solid #667467;
  color: #667467;
  width: 145px;
  position: relative;
  left: 35px;
  height: 26px;
  font-size: 14px;
  background-color: transparent;
}

.navbar-options-element-text {
  position: relative;
/*   left: 15px; */
  background-color: transparent;
  bottom: -5px;
  width: 100%;
  display: inline-block;

}

.navbar-options-element-text:hover {
  font-weight: 700;
  cursor: pointer;

}
