.new-page-header{
  border-bottom: 4px solid #aaa;
  margin-right: 25px;
  margin-left: 25px;
  height: 45px;
}

.new-page-title{
  font-size: 25px;
  position: relative;
  top: 18px;
}

.new-page-cancel-button{
  position: absolute;
  font-size: 25px;
  right: 25px;
  top: 18px;
  color: #aaa;
  text-align: center;
  width: 30px;
}

.new-page-cancel-button:hover{
  color: black;
  z-index: 4;
}

.new-page-text-field{
  margin: 15px;
  /*border: 1px solid black;*/
}

.new-page-label{
  width: 100px;
  display: inline-block;
  position: relative;
  width: 150px;
  font-size: 17px;
  border-bottom: 3px solid black;
  text-align: left 20px;
  top: 60px;
  left: 50px;
}

.new-page-entry-box{
  position: relative;
  left: 25px;
  display: inline-block;
}

.new-submit-button{
  font-size: 17px;
  position: relative;
  border-radius: 4px;
  left: 65px;
  border: 3px solid #777;
  background-color: white;
  top: 5px;
  padding: 5px;
}
