.table-header-main {
    height: 26px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #16174f;
    white-space: nowrap;
}

.table-header-text {
    display: inline-block;
    font-size: 14px;
    color: #667467;
    position: relative;
    bottom: -6px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.table-header-draggable {
    width: 2px;
    border-left: 2px solid #f6f1ed;
    border-right: 2px solid #f6f1ed;
    background-color: #667467;
    position: relative;
    bottom: -6px;
    height: 19px;
    display: inline-block;
}

.table-header-draggable:hover {
  cursor: col-resize;
}

.table-body-main {
    width: calc(100% - 22px);
    position: relative;
    left: 0px;
    height: calc(100% - 5px);
    overflow-y: scroll;
}

.table-entry-text:first-child {
    padding-left: 10px;
}

.table-entry-header {
    width: 100%;
    height: 26px;
    border-bottom: 2px solid #667467;
    overflow: hidden;
    white-space: nowrap;
}

.table-entry-header:hover {
    background-color: #E2DDCF;
}


.table-entry-header-focused {
    width: 100%;
    height: 28px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 3;
    border-top: 2px solid #16174f;
    margin-top: -2px;
    background-color: #E2DDCF;
}


.table-entry-text {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: -7px;
    color: #16174f;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
    background-color: transparent;
}

.table-entry-text-flagged {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: -7px;
    color: #963019;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}

.schedule-criteria-main {
    height: 40px;
    border-bottom: 2px solid #16174f;
    overflow: hidden;
    white-space: nowrap;
}

.schedule-header-main {
    margin-top: 0px;
    height: 42px;
    position: relative;
    left: 18px;
    width: calc(100% - 37px);
}

.schedule-criteria-title {
    font-size: 18px;
    position: relative;
    bottom: -17px;
    left: 25px;
    color: #16174f;
    font-weight: 700;
    display: inline-block;
}

.schedule-criteria-option {
    position: relative;
    left: 40px;
    font-size: 16px;
    bottom: -15px;
    outline: none;
    border: 0;
    font-weight: 700;
    color: #16174f;
}

.new-game-form-main {
    border-bottom: 2px solid #16174f;
    width: 100%;
    height: 192px;
}

.new-game-form-header {
    height: 42px;
    border-bottom: 2px solid #667467;
    position: relative;
    left: 25px;
    width: calc(100% - 25px);
}

.new-game-form-input-line {
    border-bottom: 2px solid #667467;
    height: 26px;
    position: relative;
    left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(50% - 60px);
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.new-game-form-label {
    position: relative;
    left: 25px;
    font-size: 14px;
    bottom: -5px;
    color: #667467;
    background-color: transparent;
    display: inline-block;
    width: 90px;
}

.new-game-form-input {
    position: relative;
    left: 25px;
    font-size: 16px;
    bottom: -1px;
    color: #16174f;
    display: inline-block;
    background-color: transparent;
    font-weight: 700;
    outline: none;
    border: 0;

    margin-right: 20px;
}

.new-game-button:hover {
    font-weight: 700;
    cursor: pointer;

}

.new-game-form-error-message {
    color: #963019;
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: -5px;
    left: 40px;
}

.inline-reschedule-main {
    border-bottom: 2px solid #16174f;
    border-top: 2px solid #16174f;
    margin-top: -2px;

    height: 118px;
    position: relative;
}

.inline-reschedule-inner-half {
    display: inline-block;
    height: 100%;
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.inline-reschedule-bottom-rule {
    height: 0px;
    border-bottom: 2px solid #16174f;
    margin-top: -3px;
    z-index: 6;
    position: relative;
    left: -25px;
}

.inline-reschedule-line {
    border-bottom: 2px solid #667467;
    height: 26px;
    display: inline-block;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

.inline-reschedule-label {
    font-size: 14px;
    position: relative;
    bottom: -5px;
}
