.table-header-main {
    height: 26px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #16174f;
    white-space: nowrap;
}

.table-header-text {
    display: inline-block;
    font-size: 14px;
    color: #667467;
    position: relative;
    bottom: -2px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.table-header-draggable {
    width: 2px;
    border-left: 2px solid #f6f1ed;
    border-right: 2px solid #f6f1ed;
    background-color: #667467;
    position: relative;
    bottom: -4px;
    height: 19px;
    display: inline-block;
}

.table-body-main {
    width: calc(100% - 22px);
    position: relative;
    left: 22px;
    height: calc(100% - 28px);
    overflow-y: scroll;
}

.table-entry-header {
    width: 100%;
    height: 26px;
    border-bottom: 2px solid #667467;
    overflow: hidden;
    white-space: nowrap;

}

.table-entry-text {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: -7px;
    color: #16174f;
    overflow: hidden;
    white-space: nowrap;

}