.table-header-main {
    height: 26px;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #16174f;
    white-space: nowrap;
}

.table-header-text {
    display: inline-block;
    font-size: 14px;
    color: #667467;
    position: relative;
    bottom: -6px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.table-header-draggable {
    width: 2px;
    border-left: 2px solid #f6f1ed;
    border-right: 2px solid #f6f1ed;
    background-color: #667467;
    position: relative;
    bottom: -6px;
    height: 19px;
    display: inline-block;
}

.table-body-main {
    width: calc(100% - 22px);
    position: relative;
    left: 18px;
    height: calc(100% - 28px);
    overflow-y: scroll;
}

.table-entry-header {
    width: 100%;
    height: 26px;
    border-bottom: 2px solid #667467;
    overflow: hidden;
    white-space: nowrap;

}

.table-entry-text {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: -7px;
    color: #16174f;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;
}

.schedule-criteria-main {
    height: 42px;
    border-bottom: 2px solid #16174f;
}

.schedule-header-main {
    margin-top: -44px;
    height: 42px;
    position: relative;
    left: 18px;
    width: calc(100% - 37px);
}

.schedule-criteria-title {
    font-size: 18px;
    position: relative;
    bottom: -17px;
    left: 25px;
    color: #16174f;
    font-weight: 700;
    display: inline-block;
}

.schedule-criteria-option {
    position: relative;
    left: 40px;
    font-size: 16px;
    bottom: -17px;
    outline: none;
    border: 0;
    font-weight: 700;
    color: #16174f;
}

.new-game-form-main {
    border-bottom: 2px solid #16174f;
    width: 100%;
    height: 182px;
}

.new-game-form-header {
    height: 42px;
    border-bottom: 2px solid #667467;
    position: relative;
    left: 25px;
    width: calc(100% - 25px);
}

.new-game-form-input-line {
    border-bottom: 2px solid #667467;
    height: 26px;
    position: relative;
    left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(50% - 60px);
    display: inline-block;
}

.new-game-form-label {
    position: relative;
    left: 25px;
    font-size: 14px;
    bottom: -5px;
    color: #667467;
    background-color: transparent;
    display: inline-block;
    width: 90px;
}

.new-game-form-input {
    position: relative;
    left: 25px;
    font-size: 16px;
    bottom: -1px;
    color: #16174f;
    display: inline-block;
    background-color: transparent;
    font-weight: 700;
    outline: none;
    border: 0;

    margin-right: 20px;
}

.new-game-button:hover {
    font-weight: 700;
}